<h2>スケジュール詳細</h2>

<table>
    <tr>
        <th>タイトル</th>
        <td><%= @schedule.title %></td>
    </tr>
    <tr>
        <th>開始日</th>
        <td><%= @schedule.created_at.to_s(:datetime_jp) %></td>
    </tr>
    <tr>
        <th>投稿日時</th>
        <td><%= @schedule.updated_at.to_s(:datetime_jp) %></td>
    </tr>
    <tr>
        <th>終日</th>
        <td>
            <% if @schedule.all_day %>
                <strong>○</strong>
            <% end %>    
        </td>
    </tr>
    <tr>
        <th>スケジュールメモ</th>
        <td><%= @schedule.memo %></td>
    </tr>
</table>

<div>
        <p><%= link_to "スケジュール一覧に戻る", :schedules %></p>
        <p><%= link_to "スケジュールを編集する", [:edit, @schedule] %></p>
        <p><%= link_to "削除", @schedule, method: :delete, data: { confirm: "本当に削除しますか？" } %><p>
</div>